/* Reset Css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body  */
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: whitesmoke;
}

form {
  margin: auto;
  background-color: rgb(228, 242, 255);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
  padding: 20px;
  max-width: 600px;
}
h1 {
  text-align: center;
  color: rgb(66, 66, 164);
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
}
fieldset {
  border: 2px solid rgb(56, 72, 78);
  border-radius: 10px;
  padding: 23px;
  margin-bottom: 20px;
  background-color: aliceblue;
}
legend {
  font-weight: bold;
  text-align: left;
  color: rgb(34, 29, 29);
}
label {
  display: block;
  margin-top: 10px;
  color: block;
}
input {
  margin-top: 4px;
  padding: 8px;
  width: 100%;

  border: 1px solid rgb(66, 66, 164);
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  margin-top: 4px;
  width: calc(100% - 1px);
  border: 1px solid rgb(66, 66, 164);
  border-radius: 4px;
  box-sizing: border-box;
}
option {
  width: 100%;
  padding: 8px;
}
#result-display {
  background-color: aliceblue;
  text-align: center;
  width: 50%;
  margin-top: 50px;
  margin-left: 320px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* For Editable */
  outline: none;
}
button {
  display: block;
  width: 100%;
  background-color: skyblue;
  color: black;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
  margin-top: 10px;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}
button:hover {
  color: blue;
}
